/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}



@font-face {
    font-family: openSans-regular;
    src: url(../fonts/OpenSans-Regular.ttf);
  }
  
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: openSans-regular,Roboto,Calibri;
}

*::selection{
    color: #fff;
    background-color: #DA0037;

}



/****** 
  Contenedores
********/  

.containerNormal{
    font-family: openSans-regular;
    width: 97%;
    margin: 20px auto;
    padding: 10px 10px 20px 10px;
    border-radius: .2rem;
    text-align: left;
    font-size: 16px;
}

.middleContainer{
    width: 50%;
}

.cuarterContainer{
    width: 25%;
}

.smallContainer{
    width: 12.5%;
}


/**************** 
 !Textos !
*****************/

.superTitle{
    font-size: 32px;
    font-weight: 100;
    transition: transform .3s;
}
.superTitle:hover{
    transform: scale(1.01);
}

.subtitle-normal{
    font-size: 16px;
    letter-spacing: .5px;
    margin-top: 36px;
}

.titleInfo{
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 700;
    text-decoration: underline;
    letter-spacing: 1px;
}

h1{
    font-size: 32px;
    font-weight: 100;
    transition: transform .3s; 
}

h2{
    font-size: 28px;
    font-weight: 100;
    transition: transform .3s; 
}

h3{
    font-size: 24px;
    font-weight: 100;
    transition: transform .3s; 
}

h4{
    font-size: 20px;
    font-weight: 100;
    transition: transform .3s; 
}


h4{
    font-size: 16px;
    font-weight: 100;
    transition: transform .3s; 
}

h5{
    font-size: 14px;
    font-weight: 100;
    transition: transform .3s; 
}

/**************** 
 FONDOS
*****************/


.background-gray{
    background-color: #f7f7f7;
}

.background-white{
    background-color: #fff;
}

.background-blue{
    background-color: #00aef7;
}

.background-skyblue{
    background-color: #b3daf1;
}

.background-red{
    background-color: #DA0037;
}
.background-lightRed{
    background-color: rgba(241, 149, 172, 0.718)
}

.background-green{
    background-color: #4eae4a;
}

.background-te{
    background-color: #cfe3be;
}
/**************** 
 MARGENES Y PADDINS
*****************/


.padding-1{
    padding: 10px;
}

.padding-2{
    padding: 20px;
}
.padding-3{
    padding: 30px;
}
.padding-4{
    padding: 40px;
}
.padding-5{
    padding: 50px;
}


.margin-1{
    margin: 10px;
}

.margin-2{
    margin: 20px;
}
.margin-3{
    margin: 30px;
}
.margin-4{
    margin: 40px;
}
.margin-5{
    margin: 50px;
}
.margin-6{
    margin: 60px;
}

.marginTop-1{
    margin-top: 10px;
}
.marginTop-2{
    margin-top: 20px;
}.marginTop-3{
    margin-top: 30px;
}.marginTop-4{
    margin-top: 40px;
}.marginTop-5{
    margin-top: 50px;
}.marginTop-6{
    margin-top: 60px;
}
.marginBottom-1{
    margin-bottom: 10px;
}
.marginBottom-2{
    margin-bottom: 20px;
}.marginBottom-3{
    margin-bottom: 30px;
}.marginBottom-4{
    margin-bottom: 40px;
}.marginBottom-5{
    margin-bottom: 50px;
}.marginBottom-6{
    margin-bottom: 60px;
}

/*::::::::::::::::::::::::::: Especiales :::::::::::::::::::::::::::::::::::::::: */

hr{
    border-color:#fffcfc;
    background-color: #f6f8f8;
    border-width: 1px;
    border-bottom-radius: 2px;
}

.operationContainer{
    display: inline-block;
    min-width: 200px;
    background-color: #009cda6e;
    padding: 5px;
    font-weight: 700;
}

.flexGrid{
    display: flex;
    flex-wrap: wrap;
}

.flexGrid > * {
   
    margin: 10px;
    width: calc(50% - 20px);
}

.centerElement{
    margin-left: auto;
    margin-right: auto;
}

.scaleHover{
    transition: transform .5s;
}
.scaleHover:hover{
    transform: scale(1.01);

}






/* ::::::::::::::::::::::::::::::::::; BEAKPOINTS Y RESPONSIVE :::::::::::::::::::::::::::::::::::::::::::::::::::::::::*/

@media only screen and (max-width: 700px) {
    .containerNormal{
        font-size: 16px;
    }
    .titleInfo{
     
        font-size: 16px;
        text-align: left;
    }

    .operationContainer{
        display: block;
        padding: 2px;
        text-align: center;
        
    }

    .infoText{
        text-align: left;
    }
  }


@media only screen and (max-width: 500px) {
    
    .containerNormal{
        letter-spacing: normal;
        width: 95%;
        font-size: 16px;
    }
    .superTitle{
        font-size: 28px;
        text-align: center;
        text-decoration: underline;
    }
    .titleInfo{
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        text-align: center;
        margin-top: 100px;
    }

    .subtitle-normal{
        text-align: left;
        font-size: 14px;
        padding: 0;
    }

    .operationContainer{
        font-size: 14px;
        padding: 10px;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;

    }

    
    .infoText{
        text-align: left;
        padding: 10px;
        background-color: #f2f2f2;
        border-radius: .2rem;

    }


.flexGrid > * {
    flex-grow: 1;
    margin: 10px;
    width:100%;
}
  }



/*************** Ancho  ***********/



.whidth-1{
    width: 10%;
}

.whidth-2{
    width: 20%;
}
.whidth-2-5{
    width: 25%;
}

.whidth-3{
    width: 30%;
}
.whidth-3-5{
    width: 35%;
}
.whidth-4{
    width: 40%;
}

.whidth-4-5{
    width: 45%;
}
.whidth-5{
    width: 50%;
}

.whidth-6{
    width: 60%;
}

.whidth-7{
    width: 70%;
}

.whidth-8{
    width: 80%;
}

.whidth-9{
    width: 90;
}

.whidth-100{
    width: 100%;
}

.border{
    border: 0.5px solid #3b3b3b;
}
.border-1{
    border: 1px solid #3b3b3b;
}.border-2{
    border: 2px solid #3b3b3b;
}
.border-3{
    border: 3px solid #3b3b3b;
}.border-4{
    border: 4px solid #3b3b3b;
}

.selection-blue::selection{
    background-color: #00aef7;
    color: #ffffff;
}
.selection-skyBlue::selection{
    background-color: #b3daf1;
    color: #000;
}
.selection-red::selection{
    background-color: #DA0037;
    color: #fff;
}
.selection-lightRed::selection{
    background-color: rgba(241, 149, 172, 0.718);
    color: #000;
}
.selection-green::selection{
    background-color: #4eae4a ;
    color: #000;
}
